<div class="container color-dark header">
	<div class="col">
		<p><strong>Add a bucket list item</strong></p>
	</div>
	<div class="col">
		<p>Your bucket list ({{ itemCount }}) <button *ngIf="goals.length > 1" class="btn" (click)="sortList()"><strong>Sort</strong></button></p>
	</div>
</div>
<div class="container color-light body" [@goals]="goals.length">
	<div class="col">
		<p class="text-dark">Use this form below to add a new bucket list goal. What do you want to do with your life?</p>

		<form>
			<input type="text" class="txt" name="item" placeholder="Life goal..." [(ngModel)]="goalText" maxlength="50" minlength="5" required #goal = "ngModel">
			<small><small class="text-dark">{{ goalText.length }}/50</small></small>
			
			<input type="submit" class="btn" [value]="btnText" (click)="addItem()" [disabled]="goal.errors?.required || goal.errors?.minlength">
		</form>
	</div>
	<div class="col" *ngIf="goals?.length">
		<p class="life-container color-dark" *ngFor="let goal of goals; let i = index" (dblclick)="removeItem(i)" >
			{{ goal }}
		</p>
	</div>
</div>
<p class="text-center text-dark instructions"><small><strong>Enter</strong> to add (minlength 5) - <strong>Double click</strong> to delete</small></p>
